<!DOCTYPE html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
    <img class="logo" src="{% static 'images/i (8).png' %}">
    <p></p>
    <a href="{% url 'home' %}">На главную</a>
    <p></p>
    <a href="{% url 'articles' %}">Список статей</a>
    <p></p>
    <a href="{% url 'about' %}">О блоге</a>
    <p></p>
    <a href="{% url 'contact' %}">Контакты</a>
    <p></p>
    <a href="{% url 'feedback' %}">Оставить отзыв</a>
    <p></p>
</body>