
.article-card {
  background-color: #f9f9f9;  
  border: 1px solid #ddd;  
  padding: 15px;  
  margin-bottom: 20px;  
  border-radius: 8px;  
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);  
  transition: box-shadow 0.3s ease;  
}


.article-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);  
}

.article-date {
  color: #888;  
  font-size: 14px;  
  margin-top: 10px;  
}

.article-category {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

select {
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

